form {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilo para los campos de entrada */
input[type="text"], input[type="file"] {
  width: calc(100% - 22px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

/* Estilo para el botón de enviar */
button[type="submit"] {
  width: 100%;
  padding: 10px 20px;
  background-color: #8a2be2; /* Cambiado a color morado más oscuro */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #800080; /* Cambiado a un tono de morado más intenso */
}

/* Estilo para el contenedor de datos */
.datos {
  margin-bottom: 20px;
}

/* Estilo para las etiquetas del formulario */
label {
  display: block;
  margin-bottom: 5px;
}

/* Estilo para la tabla */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

/* Estilo para las celdas de la tabla */
th, td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

/* Estilo para las celdas del encabezado de la tabla */
th {
  background-color: #8a2be2; /* Cambiado a color morado más oscuro */
  color: #fff;
}

/* Estilo para las celdas de la tabla */
td {
  background-color: #f9f9f9;
}